body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1013px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:65px;
}
#u0 {
  position:absolute;
  left:18px;
  top:22px;
  width:71px;
  height:65px;
}
#u1 {
  position:absolute;
  left:2px;
  top:24px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans-Bold', 'Open Sans Bold', 'Open Sans';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u2 {
  position:absolute;
  left:18px;
  top:101px;
  width:424px;
  height:33px;
  font-family:'OpenSans-Bold', 'Open Sans Bold', 'Open Sans';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  white-space:nowrap;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans-Bold', 'Open Sans Bold', 'Open Sans';
  font-weight:700;
  font-style:normal;
  color:#3399FF;
}
#u4 {
  position:absolute;
  left:92px;
  top:34px;
  width:96px;
  height:43px;
  font-family:'OpenSans-Bold', 'Open Sans Bold', 'Open Sans';
  font-weight:700;
  font-style:normal;
  color:#3399FF;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u6 {
  position:absolute;
  left:18px;
  top:152px;
  width:186px;
  height:24px;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  white-space:nowrap;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:702px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans', 'Open Sans';
  font-style:normal;
  color:#666666;
}
#u8 {
  position:absolute;
  left:25px;
  top:186px;
  width:702px;
  height:87px;
  font-family:'OpenSans', 'Open Sans';
  font-style:normal;
  color:#666666;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:702px;
  white-space:nowrap;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u10 {
  position:absolute;
  left:18px;
  top:275px;
  width:334px;
  height:24px;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  white-space:nowrap;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:782px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u12 {
  position:absolute;
  left:25px;
  top:309px;
  width:782px;
  height:90px;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:782px;
  white-space:nowrap;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u14 {
  position:absolute;
  left:18px;
  top:421px;
  width:399px;
  height:24px;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  white-space:nowrap;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:988px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u16 {
  position:absolute;
  left:25px;
  top:455px;
  width:988px;
  height:36px;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:988px;
  white-space:nowrap;
}
